* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.geral-cadast {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454d6b;
}

.cadast-container1 {
  width: 30%;
  height: 650px;
  padding: 50px;
  background-color: #353b50;
  margin-right: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cadast-container2 {
  width: 30%;
  height: 550px;
  padding: 50px;
  background-color: #353b50;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-cadast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cadast-name {
  border-bottom: 1px solid white;
  display: inline-block;
  margin-bottom: 50px;
  font-size: 30px;
  color: white;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nome-form,
.email-form,
.senha-form-cadast,
.confirm-senha-form-cadast,
.celular-form-cadast,
.rua-form-cadast,
.bairro-form-cadast,
.cidade-form-cadast,
.cep-form-cadast,
.estado-form-cadast,
.cpf-form-cadast {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.nome-cadast-input,
.email-cadast,
.senha-cadast-input,
.confirm-senha-input,
.estado-cadast-input,
.cep-cadast-input,
.cidade-cadast-input,
.bairro-cadast-input,
.rua-cadast-input,
.celular-cadast-input,
.cpf-cadast-input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  font-size: 15px;
  color: white;
}

.nome-form,
.email-form,
.senha-form-cadast,
.cpf-form-cadast,
.celular-form-cadast,
.rua-form-cadast,
.cidade-form-cadast,
.cep-form-cadast,
.estado-form-cadast {
  margin-bottom: 20px;
}

.nome-cadast-label,
.email,
.senha-cadast,
.confirm-senha-label,
.cpf-cadast,
.celular-cadast,
.rua-cadast,
.bairro-cadast,
.cidade-cadast,
.cep-cadast,
.estado-cadast {
  color: white;
  font-size: 17px;
  margin-bottom: 12px;
}

.button-cadast {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.login-button {
  margin-left: 15px;
}

#cadast-button {
  background-color: #a13854;
  color: #ffffff;
  border: none;
}

#cadast-button:hover {
  background-color: #a83856ad;
  border-color: #cc0000;
}

#cadastro-button-cadast {
  background-color: #a13854;
  color: #ffffff;
  border: none;
}

#cadastro-button-cadast:hover {
  background-color: #a83856ad;
}

@media (max-width: 940px) {
  .cadast-name{
    font-size: 25px;
  }
  .nome-cadast-input,
  .email-cadast,
  .senha-cadast-input,
  .confirm-senha-input,
  .estado-cadast-input,
  .cep-cadast-input,
  .cidade-cadast-input,
  .bairro-cadast-input,
  .rua-cadast-input,
  .celular-cadast-input,
  .cpf-cadast-input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    color: white;
  }
  .cadast-container1 {
    width: 30%;
    height: 600px;
    padding: 50px;
  }

  .cadast-container2 {
    width: 30%;
    height: 490px;
  }
  #cadastro-button-cadast {
    width: 60px;
    font-size: 12px;
  }
  #cadast-button {
    font-size: 12px;
    width: 80px;
  }
  .nome-cadast-label,
  .email,
  .senha-cadast,
  .confirm-senha-label,
  .cpf-cadast,
  .celular-cadast,
  .rua-cadast,
  .bairro-cadast,
  .cidade-cadast,
  .cep-cadast,
  .estado-cadast {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
